HOST=0.0.0.0
PORT=3000

# PostgreSQL Configuration (PostgreSQL 16)
POSTGRES_USER=elephant_admin
POSTGRES_PASSWORD=SuperSecureAndComplexPassword2026!
POSTGRES_DB=elephant_messenger
POSTGRES_PORT=42359
POSTGRES_HOST=127.0.0.1

# JWT
JWT_SECRET=my_super_long_and_secure_secret_key

# Cryptography Parameters
ARGON_MEMORY=65536
ARGON_ITERATIONS=3
ARGON_PARALLELISM=2