# Server Config
HOST=
PORT=

# PostgreSQL Configuration (PostgreSQL 16)
POSTGRES_USER=elephant_user
POSTGRES_PASSWORD=
POSTGRES_DB=elephant_dev
POSTGRES_PORT=5432
POSTGRES_HOST=db

# JWT
JWT_SECRET=

# Cryptography Parameters
ARGON_MEMORY=
ARGON_ITERATIONS=
ARGON_PARALLELISM=